langchain==0.2.15
langchain-community==0.2.11
langchain-core==0.2.27
langchain-chroma==0.1.4
chromadb==0.5.5
pysqlite3
streamlit==1.49.1
python-dotenv
langchain-openai
langchain-ollama
langchain-groq
langchain-huggingface
